<footer class="main-footer">
  App desenvolvido durante a 2ª ed. do evento Semana DevSuperior
  <div class="footer-icons">
    <a href="https://www.youtube.com/" target="_blank">
      <img src="assets/images/youtube.svg">
    </a>

    <a href="https://www.linkedin.com/in/lucas-mello-357ba7197/" target="_blank">
      <img src="assets/images/linkedin.svg">
    </a>

    <a href="https://www.instagram.com/luccasmello/" target="_blank">
      <img src="assets/images/instagram.svg">
    </a>
  </div>
</footer>
