<div class="orders-container">
  <header class="orders-steps-container">
    <div class="orders-steps-content">
      <h1 class="steps-title">SIGA AS <br> ETAPAS</h1>

      <ul class="steps-items">
        <li>
          <span class="steps-number">1</span>
          Selecione os produtos e localização
        </li>
        <li>
          <span class="steps-number">2</span>
          Depois clique em <strong>"ENVIAR PEDIDO"</strong>
        </li>
      </ul>
    </div>
  </header>

  <div class="orders-list-container">

    <div class="orders-list-items">
      <div class="order-card-container" *ngFor="let product of products" (click)="onSelectProduct(product)"
        [ngClass]="{'selected': isSelected(product)}">
        <h3 class="order-card-title">{{ product.name }}</h3>
        <img class="order-card-image" [src]="product.imageUri">
        <h3 class="order-card-price">{{ product.price | currency: 'R$ ' }}</h3>
        <div class="order-card-desciption">
          <h3>Descricao</h3>
          <p>{{product.description}}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="order-location-container">
    <div class="order-location-content">
      <h3 class="order-location-title">Selecione onde o pedido deve ser entregue:</h3>

      <div class="filter-container">
        <div class="input-filter">
          <input type="text" placeholder="Endereço de entrega" [(ngModel)]="inputValue"
            (keyup.enter)="applyFilter($event)">
          <fa-icon [icon]="search" style="color: #CCC;"></fa-icon>
        </div>

        <div class="filter-options" *ngIf="places.length > 0">
          <div *ngFor="let place of places" class="option-item" (click)="selectPlace(place)">{{place.name}}</div>
        </div>
      </div>

      <div id="map"></div>
    </div>

  </div>

  <div class="order-summary-container">
    <div class="order-summary-content">
      <div>
        <span class="amount-selected-container">
          <strong class="amount-selected">{{ selectedProducts.length }}</strong>
          PEDIDOS SELECIONADOS
        </span>
        <span class="order-summary-total">
          <strong class="amount-selected">{{ getTotal() | currency:'R$ '}}</strong>
          VALOR TOTAL
        </span>
      </div>
      <button class="order-summary-make-order">FAZER PEDIDO</button>
    </div>
  </div>
</div>
